body {
    font-family: Georgia, serif;
    background-color: #f5eeee;
    margin: 0;
}

header {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 25px;
}

main {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 0;
}

section {
    margin-bottom: 20px;
    border: 2px solid #b22222;
    padding: 15px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: #b22222;
    font-size: 22px;
}

img {
    border-radius: 0;
    margin-bottom: 10px;
}

a {
    color: #b22222;
    text-decoration: underline;
}

a:hover {
    color: #8b0000;
}

article {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #8b0000;
    color: white;
    margin-top: 20px;
}

button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    background-color: #8b0000;
}